### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
/WebApp/bin/Debug/net8.0
/.vs
/WebApp/obj/Debug/net8.0
/WebApp/obj/Release/net8.0
/WebApp/obj/project.assets.json
/WebApp/obj/project.nuget.cache
/WebApp/obj/WebApp.csproj.nuget.dgspec.json
/WebApp/obj/WebApp.csproj.nuget.g.props
/WebApp/obj/WebApp.csproj.nuget.g.targets
