
@{
    // ViewData["Title"] = "Contactus";
}

<main class="site-main" style="padding-top: 0px;">
            <div class="page-header page-header-sm" style="">
    <div class="container"><h1 class="text-uppercase page-title">Contact us</h1></div>    </div>
    <div class="breadcrumb">
        <div class="container">
            <ol>
                <li><a href="https://srikvsindustries.com">Home</a></li><li>Contact us</li>            </ol>
        </div>
    </div>
            <div class="container content-container">
                <div class="row">
        
    
                <div class=" col-md-12">
                <div class="wpb-content-wrapper"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-md-12"><div class="vc_column-inner"><div class="wpb_wrapper"><h2 style="text-align: left" class="vc_custom_heading title">DO CONTACT US</h2><div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			
		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1453297211960"><div class="wpb_column vc_column_container vc_col-md-5"><div class="vc_column-inner"><div class="wpb_wrapper"><table class="info-table"><tbody><tr class="info-table-row"><th class="info-table-icon"><i class="fa fa fa-long-arrow-right"></i></th><td class="info-table-content">SRI KVS INDUSTRIES</td></tr><tr class="info-table-row"><th class="info-table-icon"><i class="fa fa fa-map-marker"></i></th><td class="info-table-content">No.351, Sidco Industrial Estate, Ambattur, Ch- 98</td></tr><tr class="info-table-row"><th class="info-table-icon"><i class="fa "></i></th><td class="info-table-content">+91 9710939322</td></tr><tr class="info-table-row"><th class="info-table-icon"><i class="fa fa fa-envelope"></i></th><td class="info-table-content">ceo@srikvsindustries.com</td></tr><tr class="info-table-row"><th class="info-table-icon"><i class="fa fa fa-globe"></i></th><td class="info-table-content"><a href="http://www.srikvsindustries.com" target="_blank" rel="noopener noreferrer">www.srikvsindustries.com</a></td></tr></tbody></table></div></div></div><div class="wpb_column vc_column_container vc_col-md-7"><div class="vc_column-inner"><div class="wpb_wrapper">
<div class="wpcf7 js" id="wpcf7-f2086-p1482-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/contact-us-2/#wpcf7-f2086-p1482-o1" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="2086">
<input type="hidden" name="_wpcf7_version" value="5.8.5">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2086-p1482-o1">
<input type="hidden" name="_wpcf7_container_post" value="1482">
<input type="hidden" name="_wpcf7_posted_data_hash" value="">
</div>
<div class="row">
	<fieldset class="form-group col-md-7">
		<p><span class="wpcf7-form-control-wrap" data-name="name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name" value="" type="text" name="name"></span>
		</p>
	</fieldset>
	<fieldset class="form-group col-md-7">
		<p><span class="wpcf7-form-control-wrap" data-name="email"><input size="40" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" value="" type="email" name="email"></span>
		</p>
	</fieldset>
	<fieldset class="form-group col-md-7">
		<p><span class="wpcf7-form-control-wrap" data-name="subject"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Subject" value="" type="text" name="subject"></span>
		</p>
	</fieldset>
	<fieldset class="form-group col-md-12">
		<p><span class="wpcf7-form-control-wrap" data-name="message"><textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message" name="message"></textarea></span>
		</p>
	</fieldset>
	<fieldset class="form-group col-md-12">
		<p><input class="wpcf7-form-control wpcf7-submit has-spinner btn btn-normal btn-md" type="submit" value="Submit"><span class="wpcf7-spinner"></span>
		</p>
	</fieldset>
</div><p style="display: none !important;"><label>Δ<textarea name="_wpcf7_ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_1" name="_wpcf7_ak_js" value="1703953050887"><script>document.getElementById( "ak_js_1" ).setAttribute( "value", ( new Date() ).getTime() );</script></p><div class="wpcf7-response-output" aria-hidden="true"></div>
<input type="hidden" name="qoLsFgtcm" value="Up4_5BS8"><input type="hidden" name="JRwobxKUhW" value="MQX_Y9.goLJ1m]"><input type="hidden" name="MwxuztZ-bSP" value="0b*TtAf3s"><input type="hidden" name="SFiHYBfuJUqe" value="YnBbka[3"></form>
</div>
</div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid no-bottom-padding-row vc_custom_1460119742082 vc_row-has-fill" style="position: relative; box-sizing: border-box; width: 533px; left: 0px; padding-left: 0px; padding-right: 0.333px;"><div class="wpb_column vc_column_container vc_col-md-12"><div class="vc_column-inner vc_custom_1453297229659"><div class="wpb_wrapper"><div class="download"><div class="download-content text-uppercase" style="color: #ffffff"><i class="fa fa fa-file-pdf-o"></i> DOWNLOAD OUR PROFILE</div><a target="_self" href="http://srikvsindustries.com/storage/2019/02/Sri-KVS-profile.pptx" class="btn btn-md btn-dark btn-shadow"><i class="fa fa fa-cloud-download"></i> Download</a></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
</div>            </div>
        
    </div>
</div>
</main>

